Source: ttyrec
Section: misc
Priority: optional
Maintainer: Takuo KITAME <kitame@debian.org>
Build-Depends: debhelper (>> 3.0.0), sharutils
Standards-Version: 3.5.0.0

Package: ttyrec
Architecture: any
Depends: ${shlibs:Depends}
Description: A tty recorder
 ttyrec is a tty recorder. A recorded data can be playback with the included
 ttyplay command. ttyrec is just a derivative of script command for recording
 timing information with microsecond accuracy as well.
 It can record emacs -nw, vi, lynx, or any programs running on tty.
